[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
gunicorn = "*"
Flask = "*"
rad = {editable = true,git = "https://github.com/ManageIQ/aiops-rad.git",ref = "v0.9.3"}

[dev-packages]
pylama = "*"
pylama-pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
